.section-head-text{
  font-size: calc(24px + 1.5vw);
  color: rgb(130, 232, 137);
}

.section-sub-head{
  font-size: calc(12px + 1vw);
  color: lightgrey;
}

/* Styling for Home section */
#home{
  height: 95vh;

  /* Parallax Scrolling Background */
  background-image: url("Blammus.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.head-text{
  color: white;
  text-shadow: 1px 1px 5px black;
  white-space: nowrap;
}

#myName{
  font-size: calc(20px + 3vw);
}

#quickDesc{
  font-size: calc(10px + 1.5vw);
}

.head-icon{
  height: calc(18px + 2.5vw);
  width: calc(18px + 2.5vw);
  fill: initial;
  transition: fill 0.5s ease-out;
}

.head-icon:hover{
  fill: #DA4567;
}


#about{
  /* Styling for About section
  height: 500px;
  max-height: 60vh;
  min-height: 450px;
  */
}

.about-grid{
  margin: auto;
  padding: 10px;
  justify-content: center;
  width: 800px;
  display: grid;
  grid-template-areas:
    'portrait divider profile profile profile'
    'info divider profile profile profile'
    'info divider skills skills skills'
    'info divider skills skills skills';
}

.about-grid-content{
  margin: auto;
  padding: 10px;
}

#portrait{
  grid-area: portrait;
  max-width:150px;
  width:100%;
  margin: auto;
  border-radius: 50%;
  border: 3px solid darkgrey;
}

#profile{
  grid-area: profile;
  top: 10px;
}

.personal-info-title{
  color: rgb(130, 232, 137);
  font-size: 1.2em;
}

.personal-info-text{
  color: white;
  font-size: 1em;
}

#personal-info{
  grid-area: info;
  text-align: center;
  top: 0;
  height: 20em;
}

#skill-info{
  grid-area: skills;

}

.about-grid-divider{
  width: 2px;
  margin: 0px 1em;
  grid-area: divider;
  background-color: lightgrey;
}

.about-grid-header{
  color: rgb(130, 232, 137);
  font-size: 1.5em;
  border-bottom: 1px solid lightgrey;
}

.about-grid-text{
  color: white;
  font-size: 1em;
}

.skill-label{
  color:white;
}

.about-progress{
  background-color: lightgrey;
}

.about-progress-bar{
  background-color: rgb(60, 162, 67);
}

#resume-button{
  width: auto;
  margin-top: 10%;
  background-color: rgb(60, 162, 67);
}

@media only screen and (max-width: 1025px){
  .about-grid{
    width: 100%;
    grid-template-areas:
      'portrait divider profile profile profile'
      'info divider profile profile profile'
      'info divider skills skills skills'
      'filler divider skills skills skills';
  }

  #personal-info{
    height: auto;
  }

}
/* Styling for Work section */
#work{
  background-color: rgb(72, 72, 72);
}

  /*Timeline Styling*/
.timeline{
  margin: 0 auto;
  max-width: 750px;
  padding: 25px;
  display: grid;
  grid-template-columns: 4px 1fr;
  color: white;
}

.timeline-bar{
  position: relative;
  background: white;
}

.timeline-bar-top{
    top: calc(50% - 7px); /*7px = 1/2 of the height of timeline-point*/
}

.timeline-bar-bottom{
    bottom: calc(50% - 7px); /*7px = 1/2 of the height of timeline-point*/
}

.timeline-bar-filler{
  height: 20px;
}

.timeline-point{
  position:absolute;
  top: calc(50% - 7px);
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 20%;
}

.timeline-point-first{
  top: 0;
}

.timeline-point-last{
  top: initial;
  bottom: 0;
}

.timeline-element{
  margin: 0 20px 0 20px;
  padding: 1.5em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  line-height: 1.75em;
}

.timeline-element-collapses{
  transition: box-shadow .25s ease-in;
  cursor: pointer;
  user-select: none;
}

.timeline-element-collapses:after {
  content: '\25BC'; /* Unicode character for down pointer */
  font-size: 18px;
  color: lightgrey;
  float: right;
  margin-left: 5px;
}

.timeline-element-active:after{
  content: '\25B2'; /* Unicode character for up pointer */
}

.timeline-element-transitioning, .timeline-element-collapses:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}

.timeline-collapsable{
  overflow: hidden;
  transition:height 0.3s ease-out;
  height:auto;
}

.timeline-title{
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.timeline-date{
  margin: 0 0 0 10px;
  font-size: 18px;
  font-style: italic;
}

.timeline-content{
  margin: 0;
  font-size: 10;
}

/* Styling for Education section */
#education{

}

/* Styling for Projects section */
#projects{
  background-color: rgb(72, 72, 72);
}

.project-link-grid{
  margin: auto;
  width: auto;
  padding: 25px;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  gap: 25px 25px;
}

@media only screen and (max-width: 769px){
  .project-link-grid{
    width: auto;
    grid-template-columns: auto auto;
  }
}

.project-link{
  position: relative;
  margin: auto;
  height: calc(8vw + 100px);
  width: calc(8vw + 100px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.project-image{
  height: 100%;
  border-radius: 10px;
}

.project-title{
  color: white;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.project-title-active{
  opacity: 1;
}

@keyframes modal-in {
  0% {top: 0px; opacity: 0}
  50% {opacity: 1}
  100% {top: 50%; opacity: 1}
}

@keyframes modal-out{
  0% {opacity: 1; top: 50%;}
  50% {top: 0px;}
  100% {opacity: 0; top: 0px;}
}

@keyframes modal-bg-in{
  from {background-color: rgba(0,0,0,0);}
  to {background-color: rgba(0,0,0,0.4);}
}

@keyframes modal-bg-out{
  from {opacity: 1}
  to {opacity: 0}
}

body.modal-open{
  overflow-y: hidden;
  padding-right: 18px;
}

.project-modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Backup color */
  background-color: rgba(0,0,0,0.4);
  animation-name: modal-bg-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.project-modal-closing{
  animation-name: modal-bg-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.project-modal-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 9px), -50%); /*9x for half of scroll-bar padding*/
  width: 400px;
  max-width: 65%;
  padding: 20px;
  border-radius: 10px;
  animation-name: modal-in;
  animation-duration: .6s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  background-color: rgb(232, 232, 232);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.project-modal-content{
  width: 100%;
  overflow-y: auto;
  background-color: inherit;
}

.project-modal-content-closing{
  transform: translate(-50%, -50%);
  animation-name: modal-out;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.project-modal-close{
  color: rgba(0,0,0,0.6);
  position: absolute;
  top: 20px;
  right: 32px;
  font-size: 28px;
  font-weight: bold;
  transition: color .25s ease-in;
}

.project-modal-close:hover{
  color: rgba(0,0,0,1);
  text-decoration: none;
  cursor: pointer;
}

.project-modal-image{
  display: block;
  margin: auto;
  max-width: 100%;
  margin-bottom: 1em;
  border-radius: 10px;
}

.project-modal-title{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: .5em
}

.project-modal-date{
  text-align: center;
  font-size: 18px;
  font-style: italic;
  line-height: .5em
}

.divider-line{
  width: 100%;
  height: 2px;
  margin: 10px auto;
  background-color: lightgrey;
}

.project-modal-button{
  appearance: button;
  border: 2px solid lightgrey;
  width: 50%;
  height: 2em;
  text-decoration: none;
  overflow: hidden;
  color: black;
  text-align: center;
  background-color: inherit;
  transition: background-color 0.5s;
}

.project-modal-button:hover{
  background-color: lightgrey;
  text-decoration: none;
  color: black;
}

.project-modal-button-left{
  float: left;
  border-right-width: 1px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.project-modal-button-right{
  float: right;
  border-left-width: 1px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media only screen and (max-height: 700px){
  .project-modal-content{
    padding-right: 5px;
  }

  .project-modal-container{
    transform: translate(calc(-50% + 9px), -10em - 15px);
    padding-right: 0;
    height: 400px;
    max-height: 80%;
  }

  .project-modal-content{
    max-height: 100%;
  }
}

/* Styling for Contact section */
#contact{
  height: 600px;
  min-height: 400px;
  max-height: 50vh;
}

.contact-icon{
  height: calc(45px + 1vw);
  width: calc(45px + 1vw);
  fill: rgb(130, 232, 137); /*Change Color?*/
}

.contact-info{
  font-size: calc(12px + 1vw);
  color: white;
}

.contact-details{
  font-size: calc(8px + .75vw);
  color: lightgrey;
}


#footer{
  height: 100px;
}

a{
  text-decoration: underline solid transparent;
}
